<div class="centerd-content">
    <div class="dashboard-container">
        <div class="navigation-icon-container">
            <nav class="menu">
                <a href="./" class="menu__item menu__item--active" data-tooltip="Dashboard">
                    <i class="material-icons">home</i>
                </a>
                <a href="./" class="menu__item" data-tooltip="Music Library">
                    <i class="material-icons">music_note</i>
                </a>
                <a href="./" class="menu__item" data-tooltip="Statistics">
                    <i class="material-icons">timeline</i>
                </a>
                <a href="./" class="menu__item" data-tooltip="Account Security">
                    <i class="material-icons">https</i>
                </a>
                <a href="./" class="menu__item" data-tooltip="Settings">
                    <i class="material-icons">settings</i>
                </a>
            </nav>
        </div>
        <div class="sm-stats-container">
            
            <div class="sm-stats-container1">
                <mat-card class="sm-stats-container1-card">
                    <mat-card-title>Card 1</mat-card-title>
                    <mat-card-content>

                    </mat-card-content>
                </mat-card>
            </div>
            <div class="sm-stats-container2">
                <mat-card class="sm-stats-container2-card">
                    <mat-card-title>Card 2</mat-card-title>
                    <mat-card-content>
                        
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="sm-stats-container3">
                <mat-card class="sm-stats-container3-card">
                    <mat-card-title>Card 3</mat-card-title>
                    <mat-card-content>
                        
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="sm-stats-container4">
                <mat-card class="sm-stats-container4-card">
                    <mat-card-title>Card 4</mat-card-title>
                    <mat-card-content>
                        
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="sm-main-graph-container">
            <div class="sm-bar-graph-container">
                <app-bargraph class="main-bargraph"></app-bargraph>
            </div>
                
            <div class="sm-pi-graph-container"></div>
        </div>
       
    </div>

        <div class="sidebar-container">
        </div>
</div>